<section id="Hero" class="hero reveal">
  <div class="hero-content">
    <span class="hero-tagline reveal">Ingénieur Systèmes & Réseaux · Développeur Web Freelance</span>
    <h1>Bonjour, je suis <span class="highlight">SIMPORE W. Lysias Eldad</span></h1>
    <p>Je conçois des infrastructures informatiques sécurisées et des sites web performants pour des organisations publiques et des entreprises.</p>
    <p>Alliant expertise réseau et développement web, j’aide mes clients à transformer leurs projets en solutions numériques fiables, évolutives et adaptées à leurs besoins.</p>
    <p>Je propose audit, intégration et maintenance des systèmes, ainsi que la création de sites responsives, optimisés et faciles à gérer.</p>

    <div class="hero-buttons">
      <a href="#Portfolio" class="btn primary">Voir mes projets</a>
      <a href="#Contact" class="btn secondary">Me contacter</a>
    </div>
  </div>

  <div class="hero-image">
    <img src="/assets/Lysias.jpg" alt="Simporé Lysias" />
  </div>
</section>
